.login-input{
    background-color: greenyellow;
    padding: 5px;
    border-radius: 20px;
}
.login-form{
  border: none;
  border-radius: 15px;
  background-color: #ededed;
  box-shadow: 7px 7px 14px #bcbcbc, -7px -7px 14px #ffffff;
  font-size: 16px;
  padding: 50px;
  transition: all 0.3s ease-in-out;
}
.neumorphic-input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #ededed;
  box-shadow: 7px 7px 14px #bcbcbc, -7px -7px 14px #ffffff;
  font-size: 16px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

/* Hover Effect */
.neumorphic-input:hover {
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px #ffffff;
}

/* Focus Effect */
.neumorphic-input:focus {
  outline: none;
  box-shadow: inset 5px 5px 5px #bcbcbc, inset -5px -5px 5px #ffffff;
}

.submit-btn{
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 255, 102)!important;
  box-shadow: 7px 7px 14px #bcbcbc, -7px -7px 14px #ffffff;
  font-size: 16px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}